.img {
    position: relative;
    display: inline-block; 
    width: 200px;
    height: 200px;
    background-position: center center; 
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
}
